<div class="footer">
    <div class="logo">
        <img src="./assets/img/osteomedica-logo.png" alt="">
    </div>
    <div class="contact-bar">
        <h2>Kontakt</h2>
        <div>
            <img src="./assets/img/icons/map-marker-2-32.png" alt="">
            <span><a target="_blank" href="https://www.google.com/maps/place/Ludwig-Jahn-Stra%C3%9Fe+8,+47918+T%C3%B6nisvorst/@51.3219115,6.4945836,17z/data=!3m1!4b1!4m6!3m5!1s0x47b8af71b5367493:0x28227e084e103126!8m2!3d51.3219115!4d6.4971585!16s%2Fg%2F11bw3xsc7_?entry=ttu">Ludwig-Jahn-Str. 8
                47918 Tönisvorst</a></span>
        </div>
        <div>
            <img src="./assets/img/icons/phone-68-32.png" alt="">
            <span><a href="tel:021519424700">02151-9424700</a></span>
        </div>
        <div>
            <img src="./assets/img/icons/phone-13-32.png" alt="">
            <span><a>02151-4854050</a></span>
        </div>
        <div>
            <img src="./assets/img/icons/mail-32.png" alt="">
            <span><a href="mailto:info@osteomedica-toenisvorst.de">info&#64;osteomedica-toenisvorst.de</a></span>
        </div>

    </div>
    <div class="contact-bar">
        <h2>Rechliches</h2>
        <div style="justify-content: center; align-items: center;">
            <a href="#">Impressum</a>
            <span>|</span>
            <a href="#">Datenschutz</a>
        </div>
        <div style="justify-content: center; align-items: center;">
            <span style="font-weight: 200; font-size: 12px; padding-bottom: 8px;">
                made by Stefan Horning
            </span>
        </div>
        
    </div>
</div>