<div class="welcomeText">
    <h3>Zum <b><span>Kontakt</span></b></h3>
    <div class="imageDiv">
        <img src="./assets/img/people/Siglinde.jpg" alt="">
        <div style="font-weight: 200;">
            <span>Fragen? Anregungen? Wir sind hier, um zu helfen!</span>
            <br>
            <span>Ruf uns an unter <a style="color: rgb(108, 158, 95);" href="tel:021519424700">02151-9424700</a> oder schreib uns über unser Kontaktformular.</span>
            <br>
            <span>Wir freuen uns darauf, von dir zu hören!</span>
            <br>
        </div>
    </div>
    
    <div class="TeamButton">
        <a routerLink="/kontakt">Weiter zum Kontaktformular</a>
    </div>
    
</div>