@import '../app.component.scss';

h1, h2, h3 {
    color: #333;
}
h1 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}
h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
p {
    margin-bottom: 20px;
}
.highlight {
    background-color: #f9f9f9;
    border-left: 4px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}
.highlight code {
    font-size: 1em;
}
.contact-info {
    font-weight: bold;
}

.div-overdiv{
    a{
        color: rgb(24, 24, 239);
    }
}