<div class="overdiv">
    <div>
        <h1>Physiotherapie</h1>
        <span>Physiotherapie umfasst die Anwendung verschiedener Behandlungsverfahren mit dem Ziel der Wiederherstellung der optimalen Körperfunktionen. </span> <br> <br>
        <span>Hierbei erstrecken sich die Möglichkeiten von klassischer Kranken-gymnastik über Manuelle Therapie und Lymphdrainage bis zu Triggerpunkt-Massage oder dem Anlegen von Kinesio-Tapes zur Linderung der Beschwerden.</span><br><br>
        <span>Im Folgenden finden Sie eine kurze Übersicht über unsere Leistungen.</span>
    </div>
    <div style="margin-top: 20px;">
        <h3><span style="font-weight: 400; ">Krankengymnastik</span></h3>
        <span>Klassische Krankengymnastik besteht zunächst aus einer Analyse der persönlichen Haltungs- und Bewegungsgewohnheiten sowie einer darauf aufbauenden Zusammenstellung von aktiven und passiven Bewegungsübungen zur Wiederherstellung der eingeschränkten Körperfunktionen. Dabei kommen Übungen zur Kräftigung, Dehnung, Stabilisierung und Koordination zum Einsatz.</span>
    </div>
    <div style="margin-top: 20px;">
        <h3><span style="font-weight: 400; ">Krankengymnastik ZNS</span></h3>
        <span>Krankengymnastik ZNS richtet sich an Patienten mit Erkrankungen des Zentralen Nervensystems mit häufig sehr vielfältigen, neurologischen Störungen. Insbesondere zu erwähnen sind z.B. Schlaganfälle mit schweren Ausfällen und Lähmungen einer Körperseite, aber auch schwere Kopfverletzungen mit Schädel-Hirn-Traumen nach Unfällen, oder Autoimmunerkrankungen wie z.B. Multiple Sklerose aber auch in der Folge der operativen Entfernung von Hirntumoren.</span> <br><br>
        <span>Es handelt es sich um eine funktionelle Therapie, die sich an der Verfassung und dem Zustand des Patienten orientiert und zum Ziel hat, dem Patienten bei der Wiedererlangung einer eingeschränkten Körperfunktion, wie z.B. des Gleichgewichts oder des selbständigen Stehens oder Gehens fördernd zur Seite zu stehen.</span>
    </div>
    <div style="margin-top: 20px;">
        <h3><span style="font-weight: 400; ">Manuelle Therapie</span></h3>
        <span>In der Manuellen Therapie wird über gezielte Anwendung von Techniken zur Mobilisation von Gelenken und Gewebe eine Wiederherstellung von gestörter Muskel- und/oder Gelenkfunktion sowohl an der Wirbelsäule als auch an Armen und Beinen sowie eine Verbesserung des Zusammenspiels von Nervensystem und Muskulatur erreicht.</span>
    </div>
    <div style="margin-top: 20px;">
        <h3><span style="font-weight: 400; ">Manuelle Lymphdrainage</span></h3>
        <span>Die manuell durchgeführte Drainage des Lymphsystems kommt vor allem nach Operationen und/oder Verletzungen, bei denen sich eine starke Schwellung bzw. Stauung des Bindegewebes entwickelt hat, zur Anwendung.</span> <br><br>
        <span>Durch Aktivierung des lymphatischen Abflusses mittels sanfter und flächiger Handgriffe werden Stauungen gezielt beseitigt und die Immunsituation im betroffenen Bereich verbessert.</span>
    </div>
    <div style="margin-top: 20px;">
        <h3><span style="font-weight: 400; ">Störungen des Kiefergelenks (CMD)</span></h3>
        <span>Störungen des Kiefergelenks, auch craniomandibuläre Dysfunktionen (CMD), entwickeln sich häufig nach Zahnextraktionen und/oder Zahnersatz mittels Implantaten, aber auch in der Folge von psychogenem Stress oder Gelenkblockierungen im Bereich der oberen Halswirbelsäule.</span> <br><br>
        <span>In der Therapie werden mit sanften Techniken muskuläre Verspannungen der Kaumuskulatur behandelt, Bewegungs-einschränkungen des Kiefergelenks verbessert und möglicherweise zugrundeliegende Wirbelsäulenblockaden gelöst. Bei einer gestörten und eingeschränkten Funktion hat das Kiefergelenk auch Einfluss auf das Auftreten von Kopfschmerzen, Schwindel oder Ohrgeräuschen und Tinnitus.</span>
    </div>
    <div style="margin-top: 20px;">
        <h3><span style="font-weight: 400; ">Kinesio-Tape</span></h3>
        <span>Durch Anlegen von elastischen, selbstklebenden Gewebestreifen können gezielt Schmerzen in Muskulatur und Gelenken gelindert werden. Hierbei nutzt man die mechanische Wirkungen des aufgeklebten Tapes auf das Bindegewebe und das Fasziensystem um eine Regulierung der Muskelspannung und eine Schmerzlinderung herbeizuführen.</span>
    </div>
    <div style="margin-top: 20px;">
        <h3><span style="font-weight: 400; ">Triggerpunkte und Faszien</span></h3>
        <span>Das Fasziensystem ist seit einiger Zeit nicht umsonst in aller Munde und im Fokus des Forschung. Als unser größtes „Organ“ durchzieht das komplexe Netzwerk aus Kollagen unseren gesamten Körper und verbindet auch weit entfernte Körperteile miteinander. Durch die so entstehenden myofaszialen Ketten aus Muskulatur und Bindegewebe entstehen häufig Schmerzen an einem von der Ursache entfernten Körperteil.</span> <br><br>
        <span>Gezielte Techniken zur Mobilisation „verfilzter“ Faszien oder anderen faszialen Dysfunktionen sowie zur Auflösung häufig sehr schmerzhafter myofaszialer Triggerpunkte führen unmittelbar nach der Behandlung zu einer sofortigen Schmerzlinderung und einer verbesserten Beweglichkeit.</span>
    </div>
</div>
<app-contact-pre></app-contact-pre>
<a class="backbutton" routerLink="/leistungen"> < </a>
