
<div style="width: 100%; display: flex; justify-content: center;">
  <div style="padding-top: 90px;" class="welcomeText">
    <h3>Zum <b><span>Kontakt</span></b></h3>
    <div class="imageDiv">
      <div style="width: 100% ;display: flex; justify-content: center; align-items: center; flex-direction: column;">
          <img src="./assets/img/people/Siglinde.jpg" alt="">
      </div>
      
      <div class="text" style="font-weight: 200; width: 100%;" >
          <span>Fragen? Anregungen? Wir sind hier, um zu helfen!</span>
          <br>
          <span>Ruf uns an unter <a style="color: rgb(108, 158, 95);" href="tel:021519424700">02151-9424700</a> oder schreib uns über unser Kontaktformular.</span>
          <br>
          <span>Wir freuen uns darauf, von dir zu hören!</span>
          <br>
      </div>
  </div>
    <div style="margin-top: 30px;">
        <span class="send" *ngIf="send">Nachricht gesendet</span>
        <form (ngSubmit)="sendMail()" [formGroup]="contactForm">
            <div>
              <input
                autocomplete="off"
                formControlName="nameInput"
                required
                minlength="2"
                type="text"
                placeholder="Ihren Namen"
              />
              <!-- <span *ngIf="contactForm.controls['nameInput'].invalid && (contactForm.controls['nameInput'].dirty || contactForm.controls['nameInput'].touched)">
                Bitte geben Sie Ihren Namen an
              </span> -->
            </div>
            <div>
              <input
                autocomplete="off"
                formControlName="emailInput"
                required
                type="email"
                placeholder="Ihre E-Mail"
              />
              <!-- <span *ngIf="contactForm.controls['emailInput'].invalid && (contactForm.controls['emailInput'].dirty || contactForm.controls['emailInput'].touched)">
                Bitte geben Sie Ihre E-Mail an
              </span> -->
            </div>
            <div>
              <textarea
                autocomplete="off"
                formControlName="massageInput"
                required
                minlength="5"
                placeholder="Ihre Nachricht an uns"
                cols="30"
                rows="10"
              ></textarea>
              <!-- <span *ngIf="contactForm.controls['massageInput'].invalid && (contactForm.controls['massageInput'].dirty || contactForm.controls['massageInput'].touched)">
                Mindestlänge 5 Zeichen
              </span> -->
            </div>
            <div>
              <button [disabled]="!contactForm.valid">Nachricht senden</button>
            </div>
          </form>
    </div>
</div>
</div>
<div>
  <h3>Unsere <b><span>Adresse</span></b></h3>
  <div style="display: flex; width: 100%; justify-content: center;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4986.832070134689!2d6.494669311911393!3d51.32186722412284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8af790aad2c8d%3A0x270ffac345eb6c6b!2sOsteomedica%20-%20Osteopathie%2C%20Physiotherapie%2C%20Heilkunde!5e0!3m2!1sen!2sde!4v1716646290884!5m2!1sen!2sde" width="90%" height="400px" style="border:0;" allowfullscreen="false"  referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div style="display: flex; width: 100%; justify-content: center; padding-top: 20px; text-align: center; padding-bottom: 20px;">
    <span style="font-size: 22px;">Ludwig-Jahn-Str. 8
      47918 Tönisvorst</span>
  </div>
</div>
