@import '../app.component.scss';

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div{
        width: 350px;
        display: flex;
        flex-direction: column;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding: 8px;

        span{
            display: none;
        }
        @media (max-width:1000px) {
            max-width: 90% !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    input{
        padding: 16px;
        width: 100%;
        color: rgb(108, 158, 95);
        border-radius: 10px;
        border: 1px solid rgb(108, 158, 95);
        font-size: 14px;
        font-family: 'Open Sans';
        &::placeholder{
            color: rgb(108, 158, 95);
            font-family: 'Open Sans';
        }

        &:focus-visible{
            outline: none;
        }

        @media (max-width:1000px) {
            max-width: 250px !important;
        }
    }

    textarea{
        overflow-Y: auto;
        resize: none;
        max-width: 100%;
        min-width: 100%;
        max-height: 150px;
        min-height: 150px;
        padding: 16px;
        width: 100%;
        color: rgb(108, 158, 95);
        background-color: rgb(255, 254, 254) !important;
        border-radius: 10px;
        border: 1px solid rgb(108, 158, 95);
        font-size: 14px;
        font-family: 'Open Sans';

        @media (max-width:1000px) {
            width: 250px !important;
            min-width: 250px !important;
        }
        &::placeholder{
            color: rgb(108, 158, 95);
            font-family: 'Open Sans';
        }

        &:focus-visible{
            outline: none;
        }
    }

    button{
        margin-top: 10px;
        max-width: max-content;
        padding: 16px;
        font-size: 14px;
        background-color: rgba(108, 158, 95,1);
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);
        color: rgb(225, 220, 215);
        cursor: pointer;

        &:hover{
            scale: 1.05;
            color: rgb(255, 255, 255);
        }
        &:disabled{
            scale: 1;
            cursor: default;
            color: rgb(225, 220, 215);
            background-color: rgba(108, 158, 95, 0.581);
        }
    }

}

input:hover {
    background-color: rgb(255, 255, 255) !important;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    background-color: rgba(107, 107, 107, 0.3) !important;
}

/* Ändern Sie die Textfarbe im Autovervollständigungstextfeld */
input:-webkit-autofill {
    -webkit-text-fill-color: rgb(225, 220, 215) !important;
    background-color: rgba(107, 107, 107, 0.3) !important;
}