<div class="overdiv">
    <div>
        <h1>Heilkunde</h1>
        <span>Heilkunde in unserem Sinne umfasst den gesamten Bereich der naturheilkundlichen Therapien und Behandlungsmöglichkeiten, die uns im Rahmen der gesetzeskonformen Ausübung der Heilkunde zur Verfügung stehen</span><br><br>
        <span>Neben der Osteopathie bieten wir Ihnen in unserer Praxis Behandlungsansätze aus der Naturheilkunde wie Homöopathie, Beratung im Bereich der Ernährung, und die Behandlung seelischer und psychoemotionaler Traumen mit Hilfe der energetischen und informativen Medizin, aber auch mithilfe systemischer Aufstellungen.</span>
    </div>
    <div style="margin-top: 20px;">
        <h3><span style="font-weight: 400; ">Homöopathie</span></h3>
        <span>Die ursprüngliche von Samuel Hahnemann im Jahre 1796 veröffentliche Konzept der Homöopathie hatte den Ansatz „Gleiches mit Gleichem“ zu behandeln.</span> <br> <br>
        <span>Die mittlerweile weiterentwickelten Behandlungskonzepte der homöopathischen Komplexmittel oder der Ansatz der Homotoxikologie richten sich an die Selbstregulationsmechanismen und Regenerationsfähigkeit des menschlichen Körpers.</span>
    </div>
    <div style="margin-top: 20px;">
        <h3><span style="font-weight: 400; ">Ernährung</span></h3>
        <span>Die Ernährung hat in unserer Zeit einen immensen Einfluss auf Gesundheit und Wohlergehen und bildet die Grundlage für eine optimale Funktionsfähigkeit des menschlichen Körpers. Wie schon der griechische Arzt Hippocrates um 470-360 v.Chr. treffend sagte: „Lass Deine Nahrung Dein Heilmittel sein, und Dein Heilmittel Deine Nahrung.“</span><br><br>
        <span>Die Zeichen einer Nahrungsmittelunverträglichkeit können vielfältig sein und reichen von Gelenkschmerzen, Rückenschmerzen und Haut ausschlag bis hin zu Herzrhythmusstörungen und Depressionen. Der hohe Grad der industriellen Verarbeitung der Lebensmittel und die Verwendung mineralischer (auf Erdöl basierender) Dünger und weiterer schädlicher Umweltgifte zur Schädlingsbekämpfung etc. in der kommerziellen Landwirtschaft führen zu Nährstoffarmut der Nahrungsmittel einerseits und zu einer Schädigung der empfindlichen Schleimhaut des Magen-Darm-Traktes andererseits.</span><br><br>
        <span>Neben einem Verzicht auf problemauslösende Lebensmittel wie Getreide und Milchprodukte erfolgt der Wiederaufbau eines gesunden Mikrobioms über den Konsum von Prä- und Probiotika sowie die Verlagerung der Ernährungsgewohnheiten hin zu einer naturbelassenen biologischen vollwertigen und vielfältigen Ernährungsweise.</span>
    </div>
    <div style="margin-top: 20px;">
        <h3><span style="font-weight: 400; ">Energetische Heilverfahren</span></h3>
        <span>Das gesamte Universum ist Schwingung, Vibration und Information. Jede Materie und jedes Lebewesen hat eine individuelle Eigenschwingung. Diese Eigenschwingung wird durch endogene (von innen heraus wirkende) und exogene (äußere) Störquellen beeinflusst. Stress oder ein vergangenes psychoemotionales Trauma als endogene Ursachen, sowie elektromagnetische Felder durch Mobilfunkstrahlung oder natürliche vorkommende Störfelder in der Natur beeinflussen nachhaltig unser körpereigenes Energiefeld und Schwingungsmuster. Durch das Prinzip der Bioresonanz, das auf der quantenphysikalischen Übertragung von Information beruht, werden bei der Organetik die zur Heilung notwendigen Informationen/Schwingungen auf den Menschen übertragen, oder energetische Blockaden des feinstofflichen Körpers aufgelöst.</span>
    </div>
    <div style="margin-top: 20px;">
        <h3><span style="font-weight: 400; ">Florasole Blütenessenzen nach Bach</span></h3>
        <span>Die florasolen Blütenessenzen nach Edward Bach der Firma NUHROVIA sind alkoholfrei in Sole gespeichert. Dabei verwendet NUHROVIA ausschließlich lebendigen Blüten direkt an der Pflanze, sie leben weiter und werden nicht gepflückt. Die so erhaltenen Informationen sind voll von Energie und Leben. Die Herstellung der Blütenessenzen ist reine Handarbeit. Zur Verwendung kommen dabei Pflanzen aus Wildwuchs, die, im Gegensatz zu Monokulturen, mehr Kraft, Vitalität und Überlebensintelligenz weitergeben. In Öl- und Alkohohlauszügen aus frischen Pflanzen kann das „Lebendige“ der Pflanze und deren wesenhafte Informationen besser gespeichert werden, als bei getrockneten Pflanzen.</span><br><br>
        <span>Für Patienten wird auf Wunsch eine individuelle Mischung florasoler Blütenessenzen angefertigt, welche genau auf die Bedürfnisse des Individuums abgestimmt ist und den Prozess der Heilung und Transformation bestmöglich unterstützt.</span>
    </div>
</div>

<app-contact-pre></app-contact-pre>
<a class="backbutton" routerLink="/leistungen"> < </a>