.welcomeText{
    margin-top: -10px;
    padding: 24px;
    padding-bottom: 32px;
    padding-top: 0;
    .textbox{
        
        font-weight: 200;
    }
}

a{
    text-decoration: none;
}

h3{
    margin-bottom: 20px;
    margin-top: 0;
    font-style: inherit;
    line-height: 39px;
    font-size: 28px;
    font-weight: 300;
    b{
        color: rgb(100, 101, 100);
    }
    span{
        background: linear-gradient(to bottom, rgb(152, 195, 137), rgb(108, 158, 95));
        -webkit-background-clip: text; /* Unterstützung für Webkit-basierte Browser */
        background-clip: text; /* Standard property for compatibility */
        color: transparent; /* Macht den Text transparent */
    }
}

.TeamButton{
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        border-radius: 10px;
        cursor: pointer;
        color: white;
        padding: 8px;
        background-color: rgb(108, 158, 95);

        &:hover{
            background-color: rgb(109, 143, 101);
        }
    }
    
}

.imageDiv{
    div{
        max-height: min-content;
        display: flex;
        flex-direction: column  ;
    }
    img{
        margin-top: 16px;
        max-width: 100%;
        object-fit: contain;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.nameBox{
    transform: translateY(-20px);
    background-image: url('../assets/img/Name-Banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    //background-color: rgb(108, 158, 95);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    span{
        color: rgb(0, 0, 0);
        font-size: 28px;
        font-weight: 500;
    }
}