<div class="imageDiv">
        <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
            <div data-aos="fade-up" style="width: 100%; display: flex; align-items: center; flex-direction: column; max-width: 340px;">
                <img src="./assets/img/people/Stefan.jpg" alt="">
                <div class="nameBox"><span>Stefan Paul D.O. Bc.</span></div>
            </div>
        </div>
        
        
        <div class="text" style="font-weight: 200; width: 100%;">
            <h3 style="text-align: left;">Heilpraktiker</h3>
            <span>Ausbildung zum Physiotherapeuten am Präha Lehrinstitut für Physiotherapie Kerpen mit Abschluss Staatl. Geprüft. Physiotherapeut im September 2007</span> <br>
            <span>Studium an der Hogeschool Zuyd Heerlen mit Abschluss Bachelor in Physiotherapy (NL) im September 2008</span> <br>
            <span>Ausbildung in Osteopathie an der International Academy of Osteopathy in Gent (B) Abschluss D.O. in 2014</span> <br>
            <span>Sektoraler Heilpraktiker (Physiotherapie) seit 2014</span> <br>
            <span>Unbeschränkter Heilpraktiker seit Mai 2017</span> <br>
        </div>
    
</div>