<div class="overdiv">
    <div>
        <h1>Osteopathie</h1>
        <span>Osteopathie ist eine ganzheitliche Behandlungsform in der eine manuelle diagnostische und therapeutische Vorgehensweise bei Funktionsstörungen des Körpers im Mittelpunkt steht.</span><br><br>
        <span>Ziel der Osteopathie ist die Wiederherstellung einer optimalen körperlichen Funktionsfähigkeit durch die manuelle Beseitigung von Blockaden oder Bewegungsverlusten egal von welchem Gewebe.</span>
    </div>
    <div style="margin-top: 20px;">
        <h3><span style="font-weight: 400; ">Hintergrund</span></h3>
        <span>Leben ist Bewegung und Bewegung ist Leben. Osteopathie vertritt einen ganzheitlichen, systemischen Ansatz und sieht den Menschen als eine funktionelle biologische Einheit. Alle Systeme des Körpers, wie das Nervensystem, das Gefäßystem, das Lymphsystem usw. beeinflussen sich gegenseitig in ihrer Funktion und sind untrennbar miteinander verbunden. Funktioniert ein System nicht optimal und besteht ein Bewegungsverlust innerhalb eines Systems, beeinflusst dies unmittelbar den Rest des Körpers. Über kurz oder lang können sich Symptome entwickeln, die nicht unbedingt am Ort der Störung selbst liegen müssen. Die zugrunde liegende Ursache dieser Symptome zu identifizieren und zu behandeln, ist oberste Priorität.</span>
    </div>
    <div style="margin-top: 20px;">
        <h3><span style="font-weight: 400; ">Die drei Säulen der Osteopathie</span></h3>
        <span>Die Unterscheidung der drei Bereiche der Osteopathie ist rein willkürlich,  dient didaktischen Zwecken und einem leichteren Verständnis. Im lebendigen Organismus sind die Subsysteme untrennbar miteinander verbunden und jede Änderung macht sich unmittelbar in jedem System bemerkbar.</span> <br><br>
        <span><b style="font-weight: 500;">Parietale Osteopathie</b></span> <br><br>
        <span>Die parietale Osteopathie behandelt den gesamten aktiven und passiven Bewegungsappart. Bewegungseinschränkungen der Knochen, Gelenke, Bänder sowie des gesamten Fasziensystem werden durch gezielte manuelle Techniken beseitigt. Vorhandene Haltungsdefizite und Störungen werden beseitigt und es können sich wieder neue statische und dymische Haltungsmuster etablieren.</span> <br> <br>
        <span><b style="font-weight: 500;">Viszerale Osteopathie</b></span> <br><br>
        <span>Die viszerale Osteopathie behandelt die Organe wie das Herz, die Lunge, den Verdauungsapparat und das urogenitale System. Indem man für eine optimale Durchblutung und Beweglichkeit der Organe sorgt, normalisiert sich deren Funktion und der Organsismus wird in seiner Selbstregulationsfähigkeit unterstützt. So lassen sich Verdauungsstörungen behandeln oder körpereigene Entgiftungsprozesse fördern.</span> <br> <br>
        <span><b style="font-weight: 500;">Kraniosakrale Osteopathie</b></span> <br><br>
        <span>Die Kraniosakrale Osteopathie behandelt das System zwischen Schädel (Kranium) und Kreuzbein (Sakrum). Dazu gehören das Gehirn, die Hirn- und Rückenmarkshäute, die Hirnflüssigkeit sowie die Schädelknochen und das Kreuzbein. Ein optimale Funktionsfähigkeit ist die Grundlage für eine störungsfrei Entwicklung und Entfaltung des bestmöglichen Potentials.</span>
    </div>
    <div style="margin-top: 20px;">
        <h3><span style="font-weight: 400; ">Vorbeugung</span></h3>
        <span>Im Gegensatz zu der üblichen Vorgehensweise bei der eine Therapie erst dann erfolgt, wenn es zu Beschwerden gekommen ist, findet und beseitigt der Osteopath Störungen in der Beweglichkeit von Geweben noch bevor es zu Symptomen gekommen ist.</span> <br> <br>
        <span>Auf diese Weise lassen sich funktionelle Störungen behandeln, noch bevor es zur Manifestation von Schmerzen kommt. Eine optimale Regulationsfähigkeit wird wieder hergestellt und eine bestmögliche Vitalität erhalten.</span>
    </div>
    <div style="margin-top: 20px;">
        <h3><span style="font-weight: 400; ">Osteopathische Behandlung</span></h3>
        <span>Am Beginn einer osteopathischen Behandlung steht ein ausführliches <b style="font-weight: 500;">Anamnese-Gespräch</b> über den Grund der Konsultation. Das Gespräch umfasst auch die individuelle Vorgeschichte der Krankheit und beleuchtet auch mögliche Einflüsse aus anderen Bereichen des Lebens.</span> <br> <br>
        <span>Während der <b style="font-weight: 400;">osteopathischen Untersuchung</b> verschafft sich der Therapeut mit Hilfe von manuellen Test einen Überblick über den Zustand der Körpergewebe und befundet und bewertet die Beweglichkeit, Spannung und Elastizität von Gelenken, Muskeln, Organen, Nerven, Gefäßen und anderen Geweben.</span> <br> <br>
        <span>Osteopathen arbeiten nicht mit Techniken für bestimmte Krankheiten. Eine <b style="font-weight: 400;">osteopathische Behandlung</b> richtet sich immer nach dem zugrundeliegenden Störungsmuster des Patienten. Zwei Patienten mit den gleichen Beschwerden können ganz unterschiedlicher Behandlungsansätze benötigen um eine optimale Funktionsfähigkeit der Körpersysteme wiederherzustellen.</span> <br> <br>
        <span>Am <b style="font-weight: 400;">Ende der Behandlung</b> gibt der Osteopath Auskunft über während der Behandlung aufgetretene Fragen, gibt Hinweise wie sich die Genesung unterstützen lässt und äußert seine Einschätzung über die Prognose und die Behandlungsdauer.</span> <br> <br>
        <span>Eine osteopathische Behandlung beeinflusst den Körper auf verschiedenen Ebenen und bewirkt mitunter weitreichende regulatorische Veränderungen. Ausreichend Ruhe im Anschluss an die Therapie unterstützen den Körper bei der Etablierung neuer (Verhaltens)-Muster.</span> <br> <br>
        <span>Starke körperliche Belastungen sowie Belastungen anderer Art sollten im Anschluss an eine Behandlung am gleichen Tag vermieden werden. So hat der Körper die Möglichkeit die gesamte zur Verfügung stehende Energie in Selbstregulationsprozessen zu verwenden</span> <br> <br>
    </div>
    <div style="margin-top: 20px;">
        <h3><span style="font-weight: 400; ">Dauer und Häufigkeit</span></h3>
        <span><b style="font-weight: 400; ">Eine osteopathische Behandlung dauert in der Regel ca. 45 Minuten.</b></span> <br> <br>
        <span>Bei <b style="font-weight: 400; ">akuten Beschwerden</b> genügen häufig schon zwei bis drei Anwendung im Abstand von ein bis vier Wochen. Bei <b style="font-weight: 400;">chronischen Beschwerden</b> und längerfristigen Beschwerden sind meistens sechs oder mehr Anwendungen in einem Abstand von vier bis sechs Wochen erforderlich.</span>
    </div>
    <div style="margin-top: 20px;">
        <h3><span style="font-weight: 400; ">Behandlungskosten</span></h3>
        <span>Die Kosten für eine osteopathische Behandlung richten sich nach der Gebührenordnung für Heilpraktiker (GebüH) und werden bisher nur von privaten Krankenversicherungen, Beihilfestellen oder Zusatzversicherungen übernommen sofern die Erstattung von Heilpraktikerleistungen nicht eingeschränkt ist.</span> <br> <br>
        <span>Gesetzliche Krankenversicherungen übernehmen die Kosten in der Regel nicht. Einige Krankenkassen bezuschussen jedoch osteopathische Leistungen. Ob Ihre Krankenkasse dazu gehört erfahren Sie <a target="_blank" href="https://www.osteokompass.de/patienteninfo-krankenkassen-">hier</a>.</span> <br> <br>
        <span>Eine Behandlung kostet für Selbstzahler/Innen € 100,-.</span> 
    </div>
</div>

<app-contact-pre></app-contact-pre>
<a class="backbutton" routerLink="/leistungen"> < </a>