@import '../app.component.scss';

h3{
    margin-bottom: 20px;
    margin-top: 0;
    font-style: inherit;
    line-height: 39px;
    font-size: 28px;
    font-weight: 300;
    b{
        color: rgb(100, 101, 100);
    }
    span{
        font-weight: 500;
        background: linear-gradient(to bottom, rgb(152, 195, 137), rgb(108, 158, 95));
        -webkit-background-clip: text; /* Unterstützung für Webkit-basierte Browser */
        background-clip: text; /* Standard property for compatibility */
        color: transparent; /* Macht den Text transparent */
    }
}

.overdiv{
    
    padding: 24px;
    padding-top: 90px;
    .textbox{
        
        font-weight: 200;
    }
}

.wrap-div{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    div{
        margin: 25px;
    }
}

