@import '../app.component.scss';

.overdiv{
    max-width: 100%;
    overflow-x: hidden;
}



.firstView{
    position: relative;
    height: 90vh;
    width: 100%;
    img{
        width: 100%;
        height: 85vh;
        object-fit: cover;
    }

    .spandesign{
        width: 100%;
        position: absolute;
        top: 64%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        text-align: center;

        @media (min-width: 530px){
            top: 70%;
        }

        p{
            max-width: 730px;
            line-height: 45px;
        }

        .Title-city{
            font-weight: 400;
        }

        .arrow {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform: rotate(0deg);
            cursor: pointer;
        }
        
        .arrow span {
            display: block;
            width: 10px;
            height: 10px;
            border-bottom: 5px solid white;
            border-right: 5px solid white;
            transform: rotate(45deg);
            margin: -10px;
            animation: animate 2s infinite;
        }
        
        .arrow span:nth-child(2) {
            animation-delay: -0.2s;
        }
        
        .arrow span:nth-child(3) {
            animation-delay: -0.4s;
        }
        
        @keyframes animate {
            0% {
                opacity: 0;
                transform: rotate(45deg) translate(-20px, -20px);
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                transform: rotate(45deg) translate(20px, 20px);
            }
        }
    }
}

.nameBoxForposition{
    z-index: 3;
    position: relative;
    width: 100%;
    transform: translateY(-60px);
    background-image: url('../../assets/img/Name-Banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    //background-color: rgb(108, 158, 95);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 340px ;
    span{
        transition: opacity 1.5s ease !important;
        color: rgb(0, 0, 0);
        font-size: 28px;
        font-weight: 500;
    }

    @media (min-width:700px){
        display: none;
    }

    @media (min-width:400px){
        background-size: cover;
        max-width: 340px !important;
    }
}

.TeamButton{
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        border-radius: 10px;
        cursor: pointer;
        color: white;
        padding: 8px;
        background-color: rgb(108, 158, 95);

        &:hover{
            background-color: rgb(109, 143, 101);
        }
    }
    
}


// --------------------------------------------------//

.wrapper {
    @media (max-width:699px){
        display: none;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 50px;

    img{
        object-fit: cover;
    }
}

.container {
    height: 250px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    max-width: 800px;

    @media (min-width:1000px){
        height: 350px;
    }
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    //background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description  {
    color: #ffffff;
    letter-spacing: 5px;
    text-shadow:2px 2px 2px rgb(108, 158, 95);
    font-size: 22px;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 50vw;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('../../assets/img/Osteopathie.jpeg');
    background-size: cover;
}
.card[for="c2"] {
    background-image: url('../../assets/img/Physiotherapie.jpeg');
    background-size: cover;
}
.card[for="c3"] {
    background-image: url('../../assets/img/Naturheilpraxis.jpeg');
    background-size: cover;
}
  


  .Main-picture-container{

    
    background-color: rgb(255, 255, 255);
        position: relative;
        width: 100%;
        max-height: 187px;
        overflow: hidden;
        z-index: 2 !important;
         //min-width: 330px;
        max-width: 339px;
        display: flex;
        justify-content: center;
   @media (min-width:700px){
    display: none;
   }
  
    img {
    z-index: 2 !important;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      min-width: 330px;
      max-width: 339px;
      object-fit: cover;
      opacity: 0;
      transition: opacity 1s ease;
      object-position: top center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  
      &.active {
        opacity: 1;
      }

        @media (max-width:1000px) {
          
        }
    }

    @media (max-width:420px) {
        background-color: rgb(255, 255, 255);
        position: relative;
        width: 100%;
        overflow: hidden;
        z-index: 2 !important;
       max-height: 187px;
    
       @media (min-width:700px){
        display: none;
       }
      
        img {
        z-index: 2 !important;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    }


    @media (max-width:1000px) {
      height: 80vh;
      
    }
    @media (max-width:800px) {
      height: 60vh;
      
    }

    @media (max-width:600px) {
      height: 50vh;
      
    }

    @media (max-width:450px) {
      height: 45vh;
      
    }

    // @media (max-width:350px) {
    //   height: 35vh;
      
    // }
}


.right{
  object-position: top right !important;
}


.openOursImage{
        max-width: 340px !important;
        margin-top: 16px;
        max-width: 100%;
        object-fit: contain;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
}

