<div class="overdiv">
    <div class="firstView">
        <img src="./assets/img/first-pic.jpeg" alt="">
        <div class="spandesign">
            <span>
                <p >Osteopathie, Physiotherapie & Naturheilkunde</p>
                <p class="Title-city">St. Tönis</p>
            </span>
            <div class="arrow">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="welcomeText">
        <h3>Herzlich Willkommen bei <b><span>Osteo</span>medica</b></h3>
        <span class="textbox">
            Bei Osteomedica, der Praxis für Osteopathie, Physiotherapie und Heilkunde im Herzen von St.Tönis, ist es unser besonderes Anliegen den Menschen nach einem ganzheitlichen Ansatz zu behandeln und seine Beschwerden auf allen Ebenen zu lindern.
        </span>
        <br>
        <br>
        <span class="textbox">
            Um den Prozess der Heilung beim Patienten umfassend zu aktivieren, nutzen wir Untersuchungs- und Behandlungstechniken aus dem Bereich der Osteopathie sowie der Naturheilkunde und nehmen auch Rücksicht auf die psychoemotionale und seelische Komponente über Behandlungsansätze aus dem Bereich der energetischen Heilweisen.
        </span>
    </div>
    <div class="welcomeText">
        <h3>Ihr <b><span>Ansprechpartner</span></b></h3>
        <div class="imageDiv">
            <div>
                <img src="./assets/img/people/Stefan.jpg" alt="">
                <div class="nameBox"><span>Stefan Paul D.O. Bc.</span></div>
                <div style="font-weight: 200;">
                    <h3>Heilpraktiker</h3>
                    <span>Ausbildung zum Physiotherapeuten am Präha Lehrinstitut für Physiotherapie Kerpen mit Abschluss Staatl. Geprüft. Physiotherapeut im September 2007</span> <br>
                    <span>Studium an der Hogeschool Zuyd Heerlen mit Abschluss Bachelor in Physiotherapy (NL) im September 2008</span> <br>
                    <span>Ausbildung in Osteopathie an der International Academy of Osteopathy in Gent (B) Abschluss D.O. in 2014</span> <br>
                    <span>Sektoraler Heilpraktiker (Physiotherapie) seit 2014</span> <br>
                    <span>Unbeschränkter Heilpraktiker seit Mai 2017</span> <br>
                </div>
            </div>
        </div>
        <div class="TeamButton">
            <a >Erfahre mehr über uns</a>
        </div>
    </div>
    <div class="welcomeText">
        <h3>Unsere <b><span>Leistungen</span></b></h3>
        
          
        <!-- <div class="wrapper">  // Ab 700px Breite
            <div class="container">
                <input type="radio" name="slide" id="c1" checked>
                <label for="c1" class="card">
                    <div class="row">
                        <div class="icon">1</div>
                        <div class="description">
                            <h4>Winter</h4>
                            <p>Winter has so much to offer -
                             creative activities</p>
                        </div>
                    </div>
                </label>
                <input type="radio" name="slide" id="c2" >
                <label for="c2" class="card">
                    <div class="row">
                        <div class="icon">2</div>
                        <div class="description">
                            <h4>Digital Technology</h4>
                            <p>Gets better every day -
                             stay tuned</p>
                        </div>
                    </div>
                </label>
                <input type="radio" name="slide" id="c3" >
                <label for="c3" class="card">
                    <div class="row">
                        <div class="icon">3</div>
                        <div class="description">
                            <h4>Globalization</h4>
                            <p>Help people all over the world</p>
                        </div>
                    </div>
                </label>
            </div>
        </div> -->
        <div class="TeamButton">
            <a >Erfahre mehr darüber</a>
        </div>
    </div>
    <div class="welcomeText">
        <h3>Zum <b><span>Kontakt</span></b></h3>
        <div class="imageDiv">
            <img src="./assets/img/people/Siglinde.jpg" alt="">
            <div style="font-weight: 200;">
                <span>Fragen? Anregungen? Wir sind hier, um zu helfen!</span>
                <br>
                <span>Ruf uns an unter <a style="color: rgb(108, 158, 95);" href="tel:021519424700">02151-9424700</a> oder schreib uns über unser Kontaktformular.</span>
                <br>
                <span>Wir freuen uns darauf, von dir zu hören!</span>
                <br>
            </div>
        </div>
        
        <div class="TeamButton">
            <a >Weiter zum Kontaktformular</a>
        </div>
        
    </div>
    <div class="welcomeText">
        <h3>Unsere <b><span>Öffnungszeiten</span></b></h3>
        <div class="imageDiv">
            <img src="../../assets/img/people/Simone.jpg" alt="">
            <div style="font-weight: 200; text-align: center; padding-top: 20px;">
                <Span><span style="color: rgb(108, 158, 95);">Montag</span> von 08:00 bis 19:00 Uhr</Span><br>
                <Span><span style="color: rgb(108, 158, 95);">Dinstag</span> von 08:00 bis 18:00 Uhr</Span><br>
                <Span><span style="color: rgb(108, 158, 95);">Mittwoch</span> von 08:00 bis 19:00 Uhr</Span><br>
                <Span><span style="color: rgb(108, 158, 95);">Donnerstag</span> von 08:00 bis 18:00 Uhr</Span><br>
                <Span><span style="color: rgb(108, 158, 95);">Freitag</span> von 08:00 bis 12:30 Uhr</Span><br>
                <Span><span style="color: rgb(108, 158, 95);">Samstag</span> & <span style="color: rgb(108, 158, 95);">Sonntag</span> geschlossen</Span><br>
                <Span><span style="color: rgb(108, 158, 95);">Feiertage</span> geschlossen</Span><br>
            </div>
        </div>
    </div>
</div>